<%- layout('/layouts/boilerplate.ejs') %>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Edit Profile</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/profile?_method=PUT" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                            value="<%= data.username %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="<%= data.email %>"
                            required>
                    </div>

                    <div class="mb-3">
                        <label for="bio" class="form-label">Bio</label>
                        <textarea class="form-control" id="bio" name="bio" rows="3" cols="5" style="overflow:hidden; resize:none;"><%= data.bio ? data.bio : 'add bio' %>
                        </textarea>

                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="location"
                            value="<%= data.location ? data.location : 'add location' %>">
                    </div>


                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
            </div>
        </div>